<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <mat-card style="margin: auto;width: 25%;margin-top: 10%;">

      <mat-card-header>
            <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
            {{ error }}
          </p>

          <div class="button">
            <button type="submit" mat-button>Login</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card> -->
    <mat-toolbar color="primary" style="background:#5751ad">
      <mat-toolbar-row>


        <h1>CAR RENTAL</h1>
        <span class="menu-spacer"></span>
          <a mat-button routerLink="home"> HOME</a>
          <a mat-button routerLink="login" *ngIf="canShowSignIn()"> SIGN IN</a>
          <a mat-button routerLink="signup" *ngIf="canShowRegister()"> REGISTER</a>
          <a mat-button routerLink="admin" *ngIf="canShowAdmin()"> ADMIN</a>

<!-- {{this.userInfo.firstName.toUpperCase()}} -->
        <button mat-button [matMenuTriggerFor]="menu" style="margin-left:75em">{{getUserName()}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="signout()">Sign Out</button>
          <button mat-menu-item routerLink="booking">View Bookings</button>
        </mat-menu>

      </mat-toolbar-row>




    </mat-toolbar>






    <!-- Copyright 2019 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->



<!-- Application header ends -->


<router-outlet></router-outlet>



<div id="loadingScreen" class="loadingContainer" *ngIf="loader.on">
  <div class="loadingImage">
    <div class="text-center" style="display:inline-flex">
      <img class="loading-logo" src="../assets/images/loader2.gif"
      style="height:100px;width:100px;margin-left:-7%">
      <h1 style="margin:auto"> {{loader.msg}} </h1>
    </div>
  </div>
</div>
