
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.mat-card-image{
  width:70% !important;
  height:160px;
}

.mat-card-actions{
  display:inline-flex !important;
}

.mat-expansion-panel-header:not([aria-disabled=true]){
  height:35px !important;
  width:200px;
}

.book{
  margin-right: 10px !important;
  background-color:#5751ad!important;
}

.book .mat-button-wrapper{
  color:white;
}


.mat-grid-tile{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.mat-expansion-panel-header-title{
  color:#5751ad!important
}

.car-list .mat-card:not([class*=mat-elevation-z]){
  box-shadow: none !important;
}

.mat-expansion-indicator::after{
  color:#5751ad
}
